
<div id="transparent">
  <p>Learn by Doing</p>
<p>ruby.select { |all| all[/code/] }</p>
</div>

    <div class="logo-container">
      <a href="/ruby_syntax"><%= image_tag("logo_ruby.png", :alt => "alabala") %></a>
      <a href="/ruby_syntax"><%= image_tag("logo_rails.png", :alt => "alabala") %></a>
      <a href="/ruby_syntax"><%= image_tag("logo_octocat.png", :alt => "alabala") %></a>
      <a href="/ruby_syntax"><%= image_tag("logo_postgres.png", :alt => "alabala") %></a>
    </div>
