
<div class="form-user">
  <%= image_tag("logo_ruby.png", :alt => "alabala") %>
  <%= image_tag("logo_rails.png", :alt => "alabala") %>
  <%= image_tag("logo_octocat.png", :alt => "alabala") %>
  <%= image_tag("logo_postgres.png", :alt => "alabala") %>
</div>