<div class="main-content">

  <div class="left-icons">
    <%= image_tag("rubyonrails.png", :alt => "alabala") %>
  </div>

  <div class="nav-vertical">
    <%= render 'nav_vertical'%>
  </div>

</div>
