<div class="form-user">
<p id="notice"><%= notice %></p>

<p>
  <strong>Element:</strong>
  <%= @syntax_elements_ruby.element %>
</p>

<%= link_to 'Edit', edit_syntax_elements_ruby_path(@syntax_elements_ruby) %> |
<%= link_to 'Back', syntax_elements_rubies_path %>
</div>