<div class="form-user">
    <h3>Editing Admin Ruby Syntax Name Keyword</h3>

    <%= render 'form' %>

    <%= link_to 'Show', @admin_ruby_syntax_name_keyword %> |
    <%= link_to 'Back', admin_ruby_syntax_name_keywords_path %>
</div>