 <%= form_for @syntax_keyword_ruby do |f| %>
        <div>
          <%= f.collection_select(:syntax_elements_rubies_id, SyntaxElementsRuby.all, :id, :element, :prompt => 'Select elements')%>
        </div>
            <br>
        <div>
          <%= f.text_field :syntax_keyword %>
        </div>

        <div>
          <%= f.submit 'Save', class: 'btn btn-default navbar-btn'%>
        </div>
    <% end %>
