<div class="form-user">
    <h3>Editing Admin Ruby Name Method</h3>

    <%= render 'form' %>

    <%= link_to 'Show', @admin_ruby_name_method %> |
    <%= link_to 'Back', admin_ruby_name_methods_path %>
</div>