<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div id="brand">
      <a class="navbar-brand" href="/">rubyhelper</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ruby<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/ruby_syntax">Ruby Syntax</a></li>
            <li><a href="ruby_guide_methods">Ruby Справочник</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Rails<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Rails Env</a></li>
            <li><a href="">Rails Other</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Git<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Git Examples</a></li>
            <li><a href="">Git Справочник</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Postgresql<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="">Postgresql Examples</a></li>
            <li><a href="">Postgresql Справочник</a></li>
          </ul>
        </li>

        <% if user_signed_in? && current_user.role == 'superadmin'%>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Control panel <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="/index_ruby_syntaxes">Index Page - Ruby</a></li>
                <li><a href="/admin/ruby_syntax_name_elements">Admin Syntax Element -Ruby</a></li>
                <li><a href="/admin/ruby_syntax_name_keywords">Admin Syntax Keyword -Ruby</a></li>
                <li><a href="/admin/ruby_syntax_keyword_descriptions">Admin Keyword Description -Ruby</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="/type_inner_methods">Name Classes - Ruby</a></li>
                <li><a href="/class_name_methods">Name Methods - Ruby</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="#">Ruby</a></li>
                <li><a href="/admin/rails_name_structures">Admin Name Structures -Ruby</a></li>
              </ul>
            </li>
        <% end %>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li><%= link_to current_user.username, edit_user_registration_path %></li>
            <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
        <% else %>
            <li><%= link_to "Sing Up", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path%></li>
        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>