<%= form_for @class_name_method do |f| %>

    <div>
      <%= f.collection_select(:type_inner_methods_id, TypeInnerMethod.all, :id, :name_type_method, :prompt => 'Select Class'  ) %>
    </div>
        <br>
    <div>
        <%= f.text_field :name_method, class: "form-control", placeholder: "Name Method" %>
    </div>

    <%= f.submit 'Save', class: 'btn btn-default navbar-btn' %>

<% end %>