<div class="form-user">
<h4>Editing Admin Ruby Name Method Full Description</h4>

<%= render 'form' %>

<%= link_to 'Show', @admin_ruby_name_method_full_description %> |
<%= link_to 'Back', admin_ruby_name_method_full_descriptions_path %>
</div>