<%= form_for @type_inner_method do |f| %>

    <div>
        <%= f.text_field :name_type_method, class: "form-control", placeholder: "Name Class"%>
    </div>

        <br>

    <div>
      <%= f.submit 'Save', class: 'btn btn-default navbar-btn' %>
    </div>


<% end %>