@import "bootstrap-sprockets";
@import "bootstrap";

body{
  #top-box{
    margin: 0 auto;
    height: 20px;
    background-color: #FF4A02;
  }

  .wrapper {
    margin: 0 auto;
    .navbar.navbar-default{
      display:block;
      background-color: #009D23;

    }

    #brand {
      a{
        left: 10px;
        font-size: 25px;
        color: red;
      }
      .space{
        width: 500px;
      }
    }

    .form-user{
      margin: 0 auto;
      padding: 20px;
      width: 400px;
      border-radius: 10px;

      #text-error{
        font-size: 10px;
      }
    }
    #main{
      width: 70%;
      height: 700px;
    }

    .footer{
      clear: both;
    }
  }
}