.main-content{


  .nav-vertical {
    font-size: 18px;
    float: left;
    width: 185px;
    ul{
      margin: 0;
      padding: 0;
      width: 185px;
      list-style-type: none;
      li{
        position: relative;
        padding-left: 0.4em;
        a{
          text-decoration: none;
          color: white;
          padding: 10.5px 11px;
          background-color: #2bb648;
          display: block;
        }
        a:visited{
          color: white;
        }
      }
      :hover, li .current{
        color: white;
        background-color: #5FD367;
      }
    }
  }


  .central-main-content{
    width: 70%;
    margin-left: 206px;
    summary{
      font-size: 20px;
      outline: none;
    }

    }
}

