#transparent{
  background-image: url(/assets/transparent.jpg);
  padding: 100px;
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  font-size: 50px;
  color: #F7F7F7;
  text-align: center;
  div#box-code{
    border: 0px solid #000000;
  }
}
.logo-container{
  margin: 0 auto;
  width: 500px;
  img{
    width: 20%;
  }
}
