    <div class="main-content">
      <div>
        <%= image_tag("ruby_logo.gif", :alt => "alabala") %>
      </div>

       <div class="nav-vertical">
          <%= render 'nav_vertical'%>
       </div>

       <div class="central-main-content">
         <h2>Документация</h2>
           <p>
             Тук ще намерите връзки към ръководства, самоучители и различни източници на информация, свързани с изучаването и усъвършенстването на Ruby.
            </p>
           <h3>Инсталиране на Ruby</h3>
           Освен ако не искате да пробвате Ruby във вашият браузър (линкът е по-долу), трябва да инсталирате Ruby на вашият компютър. Може да проверите дали Ruby е вече инсталиран като отворите терминал и напишете:

           <p>ruby -v</p>
           <p>
           Ако е инсталиран ще бъде изведена информация за инсталираната версия. В противен случай вижте страницата за инсталиране за подробни инструкции за инсталиране.
           </p>

         <h2>Документация</h2>
         <p>
           Тук ще намерите връзки към ръководства, самоучители и различни източници на информация, свързани с изучаването и усъвършенстването на Ruby.
         </p>
         <h3>Инсталиране на Ruby</h3>
         Освен ако не искате да пробвате Ruby във вашият браузър (линкът е по-долу), трябва да инсталирате Ruby на вашият компютър. Може да проверите дали Ruby е вече инсталиран като отворите терминал и напишете:

         <p>ruby -v</p>
         <p>
           Ако е инсталиран ще бъде изведена информация за инсталираната версия. В противен случай вижте страницата за инсталиране за подробни инструкции за инсталиране.
         </p>

         <h2>Документация</h2>
         <p>
           Тук ще намерите връзки към ръководства, самоучители и различни източници на информация, свързани с изучаването и усъвършенстването на Ruby.
         </p>
         <h3>Инсталиране на Ruby</h3>
         Освен ако не искате да пробвате Ruby във вашият браузър (линкът е по-долу), трябва да инсталирате Ruby на вашият компютър. Може да проверите дали Ruby е вече инсталиран като отворите терминал и напишете:

         <p>ruby -v</p>
         <p>
           Ако е инсталиран ще бъде изведена информация за инсталираната версия. В противен случай вижте страницата за инсталиране за подробни инструкции за инсталиране.
         </p>

         <h2>Документация</h2>
         <p>
           Тук ще намерите връзки към ръководства, самоучители и различни източници на информация, свързани с изучаването и усъвършенстването на Ruby.
         </p>
         <h3>Инсталиране на Ruby</h3>
         Освен ако не искате да пробвате Ruby във вашият браузър (линкът е по-долу), трябва да инсталирате Ruby на вашият компютър. Може да проверите дали Ruby е вече инсталиран като отворите терминал и напишете:

         <p>ruby -v</p>
         <p>
           Ако е инсталиран ще бъде изведена информация за инсталираната версия. В противен случай вижте страницата за инсталиране за подробни инструкции за инсталиране.
         </p>

         <h2>Документация</h2>
         <p>
           Тук ще намерите връзки към ръководства, самоучители и различни източници на информация, свързани с изучаването и усъвършенстването на Ruby.
         </p>
         <h3>Инсталиране на Ruby</h3>
         Освен ако не искате да пробвате Ruby във вашият браузър (линкът е по-долу), трябва да инсталирате Ruby на вашият компютър. Може да проверите дали Ruby е вече инсталиран като отворите терминал и напишете:

         <p>ruby -v</p>
         <p>
           Ако е инсталиран ще бъде изведена информация за инсталираната версия. В противен случай вижте страницата за инсталиране за подробни инструкции за инсталиране.
         </p>

         <h2>Документация</h2>
         <p>
           Тук ще намерите връзки към ръководства, самоучители и различни източници на информация, свързани с изучаването и усъвършенстването на Ruby.
         </p>
         <h3>Инсталиране на Ruby</h3>
         Освен ако не искате да пробвате Ruby във вашият браузър (линкът е по-долу), трябва да инсталирате Ruby на вашият компютър. Може да проверите дали Ruby е вече инсталиран като отворите терминал и напишете:

         <p>ruby -v</p>
         <p>
           Ако е инсталиран ще бъде изведена информация за инсталираната версия. В противен случай вижте страницата за инсталиране за подробни инструкции за инсталиране.
         </p>
       </div>
    </div>
